<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139668867782-h905t5hfgr03ojpe53e9k8l2ro4ha6oi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139668867782-h905t5hfgr03ojpe53e9k8l2ro4ha6oi</string>
	<key>API_KEY</key>
	<string>AIzaSyAWLl11noqsBbavzYBzgBhXvOkV4IEsLe4</string>
	<key>GCM_SENDER_ID</key>
	<string>139668867782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.talashka.AirfareAlerts</string>
	<key>PROJECT_ID</key>
	<string>airfarealerts-eee6d</string>
	<key>STORAGE_BUCKET</key>
	<string>airfarealerts-eee6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139668867782:ios:76bac9617b52817c</string>
	<key>DATABASE_URL</key>
	<string>https://airfarealerts-eee6d.firebaseio.com</string>
</dict>
</plist>